[validators]
Latent = "LATENT_API_TOKEN"
OTF = "OTF_API_TOKEN"
RT21 = "RT21_API_TOKEN"
MUV = "MUV_API_TOKEN"
Fish = "FISH_API_TOKEN"
Yuma = "YUMA_API_TOKEN"
Rizzo = "RIZZO_API_TOKEN"
Taostats = "TAOSTATS_API_TOKEN"
Kraken = "KRAKEN_API_TOKEN"
Crucible = "CRUCIBLE_API_TOKEN"
Tao5 = "TAO5_API_TOKEN"
Dashboard = "DASHBOARD_API_TOKEN"
Sn14 = "SN14_API_TOKEN"
Rewards = "REWARDS_API_TOKEN"